<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--     bootstrap
 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--         FontAwesone
 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!--     css
 -->
    <link rel="stylesheet" href="../src/styles.css">

    <title>Recorridos</title>
</head>

<body class="colorCremita">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h1 class="navbar-brand" href="#"><a href="../index.html" class="h1Titulo">ZOO</a> <img src="../src/patita.png"
                    alt="LogoDelTitulo" class="imagenLogo">

            </h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/Animales.view.php">Animales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../views/Recorridos.html">Recorridos
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Contacto.view.php">Contáctanos</a>

                    </li>


                    <li class="nav-item correo">
                        <a href="Facebook"><i class="fas fa-envelope"></i>
                        </a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>


    <!-- HEADER
 -->
    <header class="HeaderRecorridos">

        <h1 class="textoMain1Index">¿Estás listo para la aventura?</h1>

    </header>

    <!--     MAIN
 -->
    <main class="">
        <div>
            <h1 class="textoMain1Index">¡Únete a nosotros en el zoológico y experimenta la vida silvestre como nunca antes!"</h1>
        </div>

        <div class="">
            <div class="container text-center gridIndex">
                <div class="row cardsGeneral">
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img src="../src/delfin-index.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">SAFARI</h5>
                                <p class="card-text">Conoce a nuestras increibles especies, en sus increibles habitads.
                                   </p>
                                <a href="Animales.php" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img src="../src/safari-index.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">RECORRIDO PLUS</h5>
                                <p class="card-text">Sumergete en la aventura, y conoce los increibles recorridos dentro del zoológico.
                                  </p>
                                <a href="Recorridos.php" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img src="../src/animales/tigre.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">RECORRIDO STAR</h5>
                                <p class="card-text">Estamos Ubicados en la mejor zona para tu comodidad.</p>
                                <a href="https://www.google.com/maps/place/Zoologico,+Le%C3%B3n,+Gto./@21.1845546,-101.6624383,17z/data=!3m1!4b1!4m6!3m5!1s0x842bb920967de39f:0x3ba4ac7e9ef5f654!8m2!3d21.1850856!4d-101.660582!16s%2Fg%2F11bvtldh5p" class="btn btn-primary">Ver Ubicación</a>
                            </div>
                        </div>
                    </div>
        
                </div>

                

    </main>


    <!-- FOOTER
 -->
    <footer>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary footer">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ZOO.COM.MX</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">



                        <li class="nav-item footerNav">
                            <a class="nav-link" href="#">Contactanos</a>
                        </li>
                        <li class="nav-item footerNav">
                            <a class="nav-link" href="#">Conocenos</a>
                        </li>
                        <li class="nav-item footerNav">
                            <a class="nav-link" href="#">Precios</a>
                        </li>

                        <li class="nav-item correo">
                            <a href="Facebook"><i class="fas fa-envelope"></i>
                            </a>
                        </li>
                    </ul>



                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary footer2">


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">

                <H4>EMPRESA SOCIALMENTE RESPONSABLE @</H4>

            </div>
            </div>
        </nav>

    </footer>
</body>

</html>